<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.miroku.mapper.ResponseMapper">
    <!-- 写入响应表 -->
    <insert id="insertResponse" parameterType="cn.net.miroku.dto.chat.completion.MirokuResponse">
        INSERT INTO response(id, object, created, model)
        VALUES (#{response.id},
                #{response.object},
                #{response.created},
                #{response.model})
    </insert>

    <!-- 写入单条详细回复表 -->
    <insert id="insertChoices" parameterType="cn.net.miroku.dto.chat.completion.MirokuResponse">
        INSERT INTO choices(response_id, index_, message_content, message_role, finish_reason)
        VALUES
        <foreach collection="response.choices" item="choice" separator=",">
            (
            #{response.id},
            #{choice.index},
            #{choice.message.content},
            #{choice.message.role},
            #{choice.finishReason}
            )
        </foreach>
    </insert>

    <!-- 查询某条补全的 详细回复列表 -->

    <!-- 手动配置结果映射集 -->
    <resultMap id="ResponseMap" type="cn.net.miroku.dto.chat.completion.MirokuResponse">
        <id property="id" column="resp_id"/>
        <result property="object" column="resp_object"/>
        <result property="created" column="resp_created"/>
        <result property="model" column="resp_model"/>

        <!-- collection 一对多映射 -->
        <collection property="choices" ofType="cn.net.miroku.dto.Choice">
            <result property="index" column="choice_index"/>
            <result property="finishReason" column="choice_finish_reason"/>
            <!-- association 嵌套 Message 对象 -->
            <association property="message" javaType="cn.net.miroku.dto.Message">
                <result property="role" column="choice_message_role"/>
                <result property="content" column="choice_mesage_ctx"/>
            </association>
        </collection>
    </resultMap>

    <select id="selectChoices" resultMap="ResponseMap">
        SELECT r.id              AS `resp_id`,
               r.object          AS `resp_object`,
               r.created         AS `resp_created`,
               r.model           AS `resp_model`,
               c.index_          AS `choice_index`,
               c.message_content AS `choice_mesage_ctx`,
               c.message_role    AS `choice_message_role`,
               c.finish_reason   AS `choice_finish_reason`
        FROM response r
                 LEFT JOIN choices c ON r.id = c.response_id
        WHERE r.id = #{respId};
    </select>
</mapper>